.projects__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
}
.projects_item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1 px solid transparent;
    transition: var(--transition);
}
.projects_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;

}
.projects__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}
.projects_item h3{
    margin: 1.2rem 0 2rem;
}
.project__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
/* Media queries (devices with medium screen)*/
@media screen and (max-width:1024px) {
   .projects__container{
       grid-template-columns: 1fr 1fr;
       gap:1.2rem;
   } 
}


/* Media queries (devices with small screen)*/

@media screen and (max-width:600px) {
  .projects__container{
      grid-template-columns: 1fr;
      gap: 1rem;
  }
}
